*{
     box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:#f4f4f4
;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.app{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 20px 20px black;
    width: 400px;
}
#noteInput{
    background-color: bisque;
    width: 100%;
    min-height:200px;
    padding: 20px;
    border: 0.1px solid black;
    border-radius: 10px;
    resize:none;
    margin-bottom: 10px;
}

#AddNoteBtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    padding: 10px;
    background-color: green;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    display: block;
    margin-left:auto;
    margin-right:0; 
    margin-left: 300;
}

#AddNoteBtn:hover {
    background-color: darkgreen;
}

